* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.backgroundsoma {
    background-image: url('./images/fundo_cinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.containersoma {
    background-color: #ffffff27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    border-radius: 10px;
    border: 3px solid #fff;
    animation: top 1s linear;
}

@keyframes top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*titulo grande*/
h1 {
    color: #ffffff;
    font-size: 56px;
    animation: bottom 1s linear;
    font-family: "Bitcount Prop Double", system-ui;
    position: absolute;
    right: 39%;
    top: 300px;
}

@keyframes bottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*letras*/

label {
    text-align: left;
    width: 100%;
    margin-bottom: -10px;
    color: #ffffff;
}

/*caixa de resposta ?*/

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    font-weight: bold;
}

input::placeholder {
    color: #1f1f1f;
    font-weight: lighter;
}

input:focus {
    outline: none;
}

/*botao ue, btn, burro*/

.btnsoma {
    padding: 10px;
    border: none;
    border: 3px solid white;
    color: #fff;
    background: transparent;
    transition: all 200ms ease-in-out;
    border-radius: 50px;
    width: 100%;
}

.btnsoma:hover {
    background: #9e9e9e;
    cursor: pointer;
    color: #090909;
}

.voltar{
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 20px;
    border: 2px solid #ffffff;
    transition: all 300ms linear;
    position: absolute;
    left: 30px;
    top: 30px;
}